* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #c1e2fb;
}

#contenido {
  background-color: rgba(0, 0, 0, 0.0666666667);
  overflow: auto;
  padding-bottom: 2.5rem;
}

footer {
  background-color: #27374d;
  color: #fff;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.links a:active {
  text-decoration: underline;
  color: aquamarine;
}

.links a:hover {
  text-decoration: underline;
  color: aquamarine;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  background-color: #d5def5;
}

#active {
  background-color: #8594e4;
}

#logoheader {
  width: 300px;
  height: 80px;
}

#logofoot {
  width: 30px;
  height: 24px;
  margin-left: 10px;
}

#aremaqp {
  font-family: "Lato", sans-serif;
}

#Hindex {
  font-family: "Permanent Marker", cursive;
}

.nos-text {
  font-family: "Lato", sans-serif;
}

.nos-titulo {
  font-family: "Permanent Marker", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cartassocios {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.socio {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  align-items: center;
  align-content: center;
}
@media (min-width: 40rem) {
  .socio {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .socio {
    width: 33.3%;
  }
}
.socio .socio-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  align-items: center;
}
.socio .socio-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.socio .socio-item:hover .socio-image {
  opacity: 1;
}
.socio .socio-item-sec {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  align-items: center;
}
.socio .socio-item-sec:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.socio .socio-item-sec:hover .socio-image {
  opacity: 1;
}
.socio .socio-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5em;
}
.socio .socio-titulo {
  font-size: 20px;
  line-height: 1.1em;
  color: black;
  margin-bottom: 0.2em;
}
.socio .socio-image {
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  padding-top: 15px;
  border-radius: 6px 6px 0px 0px;
}

.socio-info a {
  text-decoration: none;
  color: darkgreen;
}
.socio-info a:hover {
  color: blue;
  text-decoration: underline;
}

.animate__animated:hover {
  animation-name: flip;
  animation-duration: 1s;
}

.socio-image img {
  height: 200px;
  width: 200px;
}

#contact-form {
  padding: 20px 0;
  font-family: Lato, sans-serif;
}

#boton {
  padding-top: 10px;
}

h2 {
  font-family: "Permanent Marker", cursive;
}

.fw-bolder {
  font-family: "Permanent Marker", cursive;
}

/*# sourceMappingURL=style.css.map */
