//colores y estilos de letra//
// colores//
$bg-hd-color: #c1e2fb;
$bg-ft-color: #27374D;
$bg-cont-color: #00000011;
//colores de fuente//
$font-foot-color: #fff;
//stilos de fuente//
$font-style-H: 'Permanent Marker', cursive;
$font-style-T: 'Lato', sans-serif