//uso de flex en la pagina de socios
*,
*::before,
*::after {
  box-sizing: border-box;
}
.cartassocios {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

// estilos en socios

.socio {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  align-items: center;
  align-content: center;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3%;
  }
//pruebas con mixin
  .socio-item {
   @include estilossocios
  }
.socio-item-sec{
  @include estilossocios ($fondo: orange)
}

  // Content
  .socio-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }

  .socio-titulo {
    font-size: 20px;
    line-height: 1.1em;
    color: black;
    margin-bottom: 0.2em;
  }

  // logo de socio
  .socio-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    border-radius: 6px 6px 0px 0px;
  }
}
.socio-info a{
  text-decoration: none;
  color: darkgreen;
  &:hover {
    color: blue;
    text-decoration: underline;
  }
}
.animate__animated:hover {
  animation-name: flip;
  animation-duration: 1s;
}
.socio-image img{
  height: 200px;
  width: 200px;
}